<a href="#/page/<%- currentPage %>"><button>Go Back</button></a>
<table>
  <tr>
    <td><b>Title:</b></td>
    <td><%- volumeInfo.title %></td>
  </tr>
  <tr>
    <td><b>Subtitle:</b></td>
    <td><%- volumeInfo.subtitle %></td>
  </tr>
  <tr>
    <td><b>Authors:</b></td>
    <td><%- volumeInfo.authors %></td>
  </tr>
  <tr>
    <td><b>Publisher:</b></td>
    <td><%- volumeInfo.publisher %></td>
  </tr>
  <tr>
    <td><b>Published date:</b></td>
    <td><%- volumeInfo.publishedDate %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td>
    <td><%= volumeInfo.description %></td>
  </tr>
</table>
